@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
  
--dark-cyan: hsl(158, 36%, 37%);

--creamie:hsl(30, 38%, 92%);
  
--very-dark-blue: hsl(212, 21%, 14%);

--dark-grayish-blue: hsl(228, 12%, 48%);

--white: hsl(0, 0%, 100%);

--font1: 'Montserrat', sans-serif;

--font2: 'Fraunces', serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--creamie);
}

#container {
    background-color: var(--white);
    width: 37.5rem;
    display: flex;
    margin: 3rem auto;
    flex-direction: column;
    border-radius:  1.5rem;
}

.image-container {
    width: 37.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
}

.image {
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
}

.descriptionContainer {
    margin-top: -0.3rem;
    padding: 2rem;
}

.first-heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--dark-grayish-blue);
    font-family: var(--font1);
    padding: 2rem;
    font-weight: 500;
}

.second-heading {
    text-transform: capitalize;
    font-size: 4rem;
    padding: 0 2rem;
    line-height: 1;
    font-family: var(--font2);
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--very-dark-blue);
}

.paragraph {
    font-size: 1.4rem;
    font-family: var(--font1);
    font-weight: 500;
    padding-left: 2rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 4rem;
}

.current-price {
    color: var(--dark-cyan);
    font-size: 4rem;
    font-weight: 700;
    font-family: var(--font2);
    margin-right: 4rem;
    margin-left: 1.5rem;
}

.old-price {
    font-family: var(--font1);
    font-size: 1.4rem;
    color: var(--dark-grayish-blue);
    position: relative;
    bottom: 1rem;
    text-decoration: line-through;
}


.button {
    width: 90%;
    display: block;
    margin: 1rem auto;
    padding: 1.7rem 0;
    background-color: var(--dark-cyan);
    color: var(--white);
    border: none;
    border-radius: 1rem;
    font-weight: 700;
    font-family: var(--font1);
    font-size: 1.4rem;
    cursor: pointer;
}

.button img {
    margin-right: 1rem;
}

@media (min-width: 1000px) {
    #container {
        justify-content: center;
        align-items: center;
        height: 470px;
        width: 600px;
        display: flex;
        flex-direction: row;
        margin-top: 12rem;
    }

    .image-container {
        grid-column: 1 / 3;
        width: 300px;
        border-radius: 1rem 0 0 1rem;
    }

    .descriptionContainer {
        width: 300px;
    }
    .image {
        border-radius: 1rem 0 0 1rem;
        height: 470px;
        object-fit: cover;
    }
}
